body {
    background-color: #854CFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    margin: 10px;
    padding: 10px;
}

input {
    height: 30px;
    width: 15rem;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

input:focus {
    outline: none;
    border: #504CFF 2px solid;
}