body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

form {
  width: 400px;
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#registrationDetailsDiv {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgba(242, 242, 242, 0.7);
  backdrop-filter: blur(5px);
  position: absolute;
}

#registrationDetails {
  width: fit-content;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

#registrationDetails h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

#registrationDetails p {
  margin-bottom: 10px;
  font-size: 20px;
  color: #666;
}

#registrationDetails p span {
  font-weight: bold;
}

.close {
  height: 30px;
  width: fit-content;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  background-color: red;
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
}
